/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
Gemfile.lock

Cargo.lock
target/
c-bindings/lib-ruby-parser.h
c-bindings/*.a
c-bindings/*.lib
messages.h
nodes.h
*.o
*.bundle
*.so
*.dll
benchmark/repos.zip
benchmark/rust-parser
benchmark/ruby-parser.rb
benchmark/repos
benchmark/filelist
benchmark/stats
build/
