/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
Gemfile.lock

Cargo.lock
target/
c-bindings/lib-ruby-parser.h
c-bindings/*.a
c-bindings/*.lib
messages.h
nodes.h
*.o
*.bundle
*.so
*.dll
benchmark/repos.zip
benchmark/rust-parser
benchmark/ruby-parser.rb
benchmark/repos
benchmark/filelist
benchmark/stats
build/
codegen/codegen
lib/lib-ruby-parser/messages.rb
lib/lib-ruby-parser/nodes.rb
ruby-3.2.0-headers
ruby-3.2.0-headers.zip
ruby-3.1.0-headers
ruby-3.1.0-headers.zip
ruby-3.0.0-headers
ruby-3.0.0-headers.zip
